<style>
table {
	display:inline-block;
	vertical-align: middle;
}
div#chart {
	display:inline-block;
	height:750px;
	width:800px;
	vertical-align: middle;
}
</style>

<h1>Expected Immunizations in 2014</h1>

<table>
<thead>
	<tr>
		<th>CHIRP ID</th>
		<th>DTap</th>
		<th>Heb B</th>
		<th>HIB 2</th>
		<th>HIB 3</th>
	</tr>
</thead>
<tbody>
<% @results.each do |result| %>
	<tr>
		<td><%= result.chirp_id %></td>
		<td><%= result.dtap_count %></td>
	</tr>
<% end %>
</tbody>
</table>

<div id='chart' class='chart'>
<!-- /the chart goes here -->
</div>

<script type="text/javascript">
//<![CDATA[

var data = [{
	type: 'bar',
	orientation: 'h'
}];

//data[0].x = <%=@results.reverse.collect{|r| r.count }%>;
//data[0].y = [<%=@results.reverse.collect{|r|"\"#{r.vaccination}\""}.join(",").html_safe%>];

Plotly.newPlot('chart', data, {
	margin: {
		l: 200,
	}
});

//]]>

</script>
