
<h1>Reports</h1>

<ul>
	<li><%= link_to "Completed Immunization Counts for DOB 2015", completed_immunizations_reports_path %></li>
	<li><%= link_to "Total Vaccination Counts for DOB 2015", total_vaccination_counts_reports_path %></li>
	<li><%= link_to "Individual Vaccination Counts for DOB 2015", individual_vaccination_counts_by_month_year_reports_path %></li>
	<li><hr/></li>
	<li><%= link_to "Raw Observations", observations_path %></li>
</ul>

<p>Be advised that these queries can be complex and will take a few seconds.</p>
