<!DOCTYPE html>
<html>
	<head>
		<title>Observations</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script type="text/javascript" charset="utf-8" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'type': 'text/javascript', 'charset': 'utf-8' %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
